$color-primary: #fcb72b;
$color-dark: #495567;
$color-grey-dark: #939CAA;
$color-grey-light: #E5ECF4;
$color-snow: #F2F5F9;
$color-pink: #FFF4DF;

$padding-side-desktop: 11.45vw;
$padding-side-tablet-lg: 12.6vw;
$padding-side-tablet-sm: 4rem;
$padding-side-mobile: 3.2rem;