.features {
  padding: 0 $padding-side-desktop 12rem;

  @include respond(mobile) {
    padding: 0 $padding-side-mobile 14.5rem;
  }

  &__heading {
    margin-bottom: 10rem;

    @include respond(mobile) {
      margin-bottom: 6rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @include respond(tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 24.3vw;
    text-align: center;

    @include respond(tablet) {
      width: 100%;
      max-width: 45.7rem;

      &:not(:last-child) {
        margin-bottom: 7rem;
      }
    }
  }

  &__img-container {
    position: relative;
    margin-bottom: 8.7rem;
  }

  &__img {
    border-radius: 50%;

    @include respond(mobile) {
      max-width: 100%;
    }
  }

  &__number {
    position: absolute;
    bottom: -4.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-primary;
    padding: 3.4rem;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
  }

  &__title {
    margin-bottom: 2.7rem;
  }
}
