.faq {
  padding: 0 $padding-side-desktop 10rem;

  @include respond(tablet) {
    padding: 0 $padding-side-tablet-sm 10rem;
  }

  @include respond(mobile) {
    padding: 0 $padding-side-mobile 10rem;
  }

  &__heading {
    margin-bottom: 6.4rem;

    @include respond(mobile) {
      margin-bottom: 4.8rem;
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.4rem;

    @include respond(tablet) {
      flex-direction: column;
    }
  }

  &__section-title {
    margin-right: 8vw;

    @include respond(tablet) {
      margin-right: 0;
      margin-bottom: 3.2rem;
      text-align: center;
    }
  }

  &__list {
    flex: 1;

    @include respond(tablet) {
      flex: initial;
      width: 100%;
      max-width: 70rem;
      margin: auto;
    }
  }
}
